body{
    background-color: bisque;
}
.btn.btn-primary{
    
    
}
.custom-select {
    width: 200px;
    height: auto;
}
.male {
    width: 500px;
    height: auto;
}
.jumbotron {
    text-align: center;
    
}
#title {
    color: bisque;
    margin-top: -50px;
}